/* Fonts */
@font-face {
  font-family: "open_sansextrabold";
  src: url("assets/fonts/opensans-extrabold-webfont.woff2") format("woff2"),
    url("assets/fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "poppinsmedium";
  src: url("assets/fonts/poppins-medium-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Variables */
:root {
  --primary-color: red;
  --secondary-color: yellow;
  --accent-color: blue;
  --button-color: var(--accent-color);
  --container-width: 800px;
  --heading-font: "open_sansextrabold";
  --body-font: "poppinsmedium";
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.link {
  text-decoration: underline;
}

.list-items > * {
  list-style: circle;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: var(--heading-font);
}

h1 {
  font-size: 3em;
  line-height: 2.8;
}

h2 {
  font-size: 2em;
  line-height: 2.5;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5;
}

h4 {
  font-size: 1.1em;
  line-height: 1.7;
}

body {
  font-family: var(--body-font);
}

p {
  line-height: 1.8;
}

a,
button,
input {
  font-family: inherit;
}

/* Utilities */
.container {
  width: 90%;
  max-width: 1000px;
  margin-inline: auto;
}

/* Button */
.button {
  display: inline-block;
  border: none;
  padding: 0.8em;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  opacity: 0.8;
}

.button.primary-button {
  background-color: var(--button-color);
  color: white;
}

.button.secondary-button {
  background-color: transparent;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
}

/* Product Card */
.product-card {
  width: 280px;
  padding: 25px;
  background-color: rgb(0, 29, 71, 0.2);
  border-radius: 15px;
  box-shadow: 12px 30px 15px rgba(63, 60, 88, 0.4);
}

.product-card .image {
  display: block;
  border: 3px solid rgb(89, 0, 255);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.product-card .product-summary {
  margin-block: 1.2em;
}

.product-card .product-price {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.5em;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(89, 0, 255);
  color: #fff;
  width: fit-content;
  margin: 0 0 1.5em auto;
}

.button.product-card-button {
  display: block;
  margin-block: 1em;
  min-width: 100%;
  text-align: left;
}

/* Product List */
.product-list {
  display: flex;
  gap: 4em;
  overflow-x: scroll;
}
