/* Variables */
:root {
  --primary-color: blue;
  --secondary-color: yellow;
  --accent-color: red;
  --container-width: 800px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
a {
  text-decoration: none;
}

/* Button */
.button {
  display: inline-block;
  border: none;
  background-color: blue;
  color: white;
  padding: 1em;
}

.button.product-card-button {
  display: block;
  margin-block: 0.5em;
  min-width: 100%;
  text-align: left;
}
